
div {
    display: inherit;
}

.wrapper {
  display: grid;
  grid-template-columns:
    minmax(20px, 40px)
    minmax(150px, 10fr)
    minmax(150px, 4fr);/*use react to dynamic modified https://letsbuildui.dev/articles/resizable-tables-with-react-and-css-grid*/
  /*grid-template-columns: 5% 65% 30%;*/
  gap: 1px;
  /*grid-auto-rows: minmax(15px, auto);*/
   grid-template-rows:
    minmax(20px, 1fr)
    minmax(20px, 1fr)
    minmax(200px, 20fr)
    minmax(20px, 1fr)
    minmax(150px, 10fr);
}
            #ico {
                height:15px;
                width:15px;
                position: absolute;
                top: 4px;
                right: 4px;
            }
            body {
                display: block;
                margin: 0px;
                background-color: #333;
            }
            #leftBar {
                grid-column: 1;
                grid-row: 3/4;
                background-color: #333;
            }
            #mainCanvas {
                grid-column: 2;
                grid-row: 3;
                background-color: aqua;
                /*resize: both;
                overflow:hidden;*/
            }
            #headBar {
                grid-column: 1/4;
                grid-row: 1;
                display: inline;
                background-color: #333;
            }
            #topBarOut {
                grid-column: 1/3;
                grid-row: 2;
                display: inline;
                background-color: #333;
                overflow: scroll;
                scrollbar-width:none;
            }
            ::-webkit-scrollbar { /*hidden bar*/
                display: none;
            }
            #rightBar {
                grid-column: 3/4;
                grid-row: 2/4;
                background-color: #161618a1;
                border-radius: 4px;
                border-style: solid;
                border-width: 0.5px;
                border-color: #333;
            }
            #centreBar {
                grid-column: 1/3;
                grid-row: 4;
                background-color: green;
            }
            #detailBar {
                grid-column: 3/4;
                grid-row: 4/6;
                background-color: olive;
            }
            #buttonBar {
                grid-column: 1/3;
                grid-row: 5;
                background-color: gray;
            }
 
  
            .header_ul {
	list-style: none;
                margin: 0;
                    font-size: 14px;
	font-family: 'Economica', sans-serif;
                padding-left: 0;
                
}
            .header_ul li {
	            padding-right: 80px;
                margin-left: 20px;
	            float: left;
                color: #fff;
                text-align: center;
}
            .header_ul li:hover {
	color: burlywood;
   }
            .header_ul_ul {
	width: 80px;
	text-align: center;
	position: absolute;
	list-style: none;
	background: #333;
	color: #fff;
    transform: translate(-20px,0)
}

.header_ul_ul li {
	margin: 10px 1px 10px -15px;
	float: none;
    text-align: left;
    font-size: 12px;
	font-family: 'Economica', sans-serif;
}
.header_ul_file .header_ul_ul {
	display: none;
}

.header_ul_edit .header_ul_ul {
	display: none;
}

.header_ul_project .header_ul_ul {
	display: none;
}

.header_ul_file:hover .header_ul_ul {
	display: block;
}

.header_ul_edit:hover .header_ul_ul {
	display: block;
}

.header_ul_project:hover .header_ul_ul {
	display: block;
}
            /*
.header_ul_file:hover {
	background-color: gray;
}

.header_ul_edit:hover {
	background-color: gray;
}

.header_ul_project:hover {
	background-color: gray;
}
            */
            .floatwindow {
                display: none;
                width:500px;
                height:400px;
                background-color: #333;
                position: absolute;
                top: 20%;
                left:20%;
                z-index: 1001;
            }
            #closeWindow {
                margin: 0px;
                margin-right: 5px;
                text-align: end;
            }
            #closeWindow:hover{
                color: aqua;
            }
            .cover {
				display: none;
				position: absolute;
				top: 0%;
				left: 0%;
				width: 100%;
				height: 100%;
				background-color: #bbbbbb;
				z-index: 1000;
				opacity: 40%;
			}
            .bar {
                background: gray;
                border-radius: 2px;
                padding-inline:25px;
                font-size: 12px;
	            font-family: 'Economica', sans-serif;
                color:#fff;
                margin: 0.5px;
            }
            .bar:hover {
                background-color: darkgray;
            }
            #barclose:hover {
                opacity: 0.7;
            }
            #topBar {
                grid-column: 1/3;
                grid-row: 2;
                display: inline;
                background-color: #333;
                white-space: nowrap;
            }
            .left_ul {
	list-style: none;
                margin: 0;
                    font-size: 14px;
	font-family: 'Economica', sans-serif;
                padding-left: 0;
                
}
            .left_ul li {
    padding-right: 80px;
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
}
            .subcat{
                 width: 34px;
                 height: 21px;
            }
             .left_ul_ul {
	width: 60px;
	text-align: center;
	position: absolute;
	list-style: none;
	background: #333;
	color: #fff;
    transform: translate(29px,-33px);
    font-size: 12px;
	font-family: 'Economica', sans-serif;
                 padding:0;
}
            .left_ul li:hover {
                background-color: gray;
            }
            .left_ul_cube .left_ul_ul {
	           display: none;
            }
            .left_ul_cube:hover .left_ul_ul {
	           display: block;
            }
            .left_ul_light .left_ul_ul {
	           display: none;
            }
            .left_ul_light:hover .left_ul_ul {
	           display: block;
            }
            .left_ul_physical .left_ul_ul {
	           display: none;
            }
            .left_ul_physical:hover .left_ul_ul {
	           display: block;
            }
            .left_ul_camera .left_ul_ul {
	           display: none;
            }
            .left_ul_camera:hover .left_ul_ul {
	           display: block;
            }
            .left_ul_sprite .left_ul_ul {
	           display: none;
            }
            .left_ul_sprite:hover .left_ul_ul {
	           display: block;
            }
            .left_ul_control .left_ul_ul {
	           display: none;
            }
            .left_ul_control:hover .left_ul_ul {
	           display: block;
            }
#search{
        height: 16px;
    position: absolute;
    top: 30px;
    transform: translate(28px, 2px);
    border-radius: 6px;
}
svg.bi.bi-search {
    position: absolute;
    top: 33px;
    color: wheat;
    transform: translate(6px, 2px);
}
input#search {
    background-color: #333;
    width:21%;
        outline:none;
    border:0;
    height: 20px;
    color:white;
}
#searchplace {
    height:35px;
}
#tree {
    background-color: #333;
    height: 420px;
    margin: 2px;
    font-size: 5px;
}
.node{
    color: whitesmoke;
}
.scene{
    margin-left: 14px;
    color: yellow;
}
.object{
    color: red;
}
ul{
    padding-left: 8px;
}
