.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
  grid-auto-rows: minmax(100px, auto);
}

#textureDetail {
    grid-row: 1 / 5;
    grid-column: 1;
    background: #4c4b4b;
    z-index: -1;
}
#textureModified {
    grid-column: 2 /4 ;
    grid-row: 1 / 5;
    float: left;
    background: #4c4b4b;
    overflow: scroll;
    color: aliceblue;
    font-size: 12px;
    padding: 20px;
}
#textureControl {
    margin:0 auto;
    overflow:hidden;
}
#textureCanvas {
    grid-column: 1/2 ;
    grid-row: 1/2;
    height: 200px;
    /*height: 100%;*/
}
input[type="range"] {
    color: white; 
    margin: 12px;
    -webkit-appearance: none;
    height: 2px;
    background: yellowgreen;
    transform: translate(15px, 0px);
}
input[type="color"] {
    width: 130px;
    height: 20px;
    transform: translate(47px, 2px);
    padding: 0;
    margin: 12px;
    /*transform: translate(15px, 0px);*/
}
#opacity {
    transform: translate(34px,0px);
}
#geometrySelect {
    transform: translate(20px,0px);
    width: 130px;
    color: yellowgreen;
    background: border-box;
    margin: 12px;
}
#file {
    height: 120px;
    width: 120px;
    opacity: 0;
    transform: translate(-100px, -102px);
}
#previewImg {
    transform: translate(23px, 3px);
}
#upImg {
    width: 160px;
    height: 150px;
}
